<section id="about">
  <div class="overlay_one">
    <div class="bg_top"></div>
    <div class="bg_bottom"></div>
  </div>
  <div class="overlay_two">
    <div class="bg_top"></div>
    <div class="bg_bottom"></div>
  </div>
  <div class="overlay_three">
    <div class="bg_top"></div>
    <div class="bg_bottom"></div>
  </div>
  <div class="container">
    <div class="row">
      <h2>Sobre nosotros</h2>
      <div class="about_text_block">
        <div class="col-md-6 col-sm-12 col-xs-12">
          <p>Lorem ipsum dolor sit amet, consectetur <a href="#">adipisicing elit</a>, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis <a href="#">aute irure dolor</a> in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
          <ul>
            <li>Excepteur sint occaecat cupidatat non proident, </li>
            <li>sunt in culpa qui officia deserunt mollit anim id est laborum. </li>
            <li>Sed ut perspiciatis unde omnis iste natus error </li>
            <li>sit voluptatem accusantium doloremque laudantium, </li>
          </ul>
          <p><span>Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</span></p>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 about_img_block wow fadeIn">
          <img src="assets/img/home/about_img.jpg" alt="">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="about_tabs">
          <div class="about_bear_img hidden-sm hidden-xs">
            <img src="assets/img/home/about_bear.png" alt="">
          </div>
          <ul class="nav nav-tabs">
            <li class="active"><a class="tab_red" href="#education" data-toggle="tab">Education</a></li>
            <li><a class="tab_blue" href="#activities" data-toggle="tab">Activities</a></li>
            <li><a class="tab_lightgreen" href="#friendship" data-toggle="tab">Friendship</a></li>
            <li><a class="tab_green" href="#development" data-toggle="tab">Development</a></li>
          </ul>
          <div class="tab-content about_tabs_content">
            <div class="tab-pane tab_red active" id="education">
              <h3>Education</h3>
              <div class="col-md-7 col-sm-12 col-xs-12">
                <div class="hidden-lg hidden-md"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
                <p>Duis aute irure dolor in reprehenderit in <a href="#">voluptate velit esse</a> cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, <a href="#">totam rem aperiam</a>, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                <a class="button" href="#">Button</a>
              </div>
              <div class="col-md-5 hidden-sm hidden-xs about_img_content">
                <img src="assets/img/home/education.jpg" alt="">
              </div>
            </div>
            <div class="tab-pane tab_blue" id="activities">
              <h3>Activities</h3>
              <div class="col-md-7 col-sm-12">
                <div class="hidden-lg hidden-md"></div>
                <p>Nam mi mi, hendrerit nec sapien in, dictum pretium lectus. In hac <a href="#">habitasse platea</a> dictumst. Donec vel libero quis enim aliquet aliquet. Aenean sit amet mi augue. Quisque efficitur tempor erat eget aliquet. Aenean eget vulputate elit. Mauris quis sem a tortor tempor sodales. </p>
                <p>Vestibulum sit amet ligula vitae felis dapibus ullamcorper nec sit amet diam. Quisque maximus, erat non scelerisque suscipit, eros risus scelerisque tortor, ut <a href="#">faucibus libero leo</a> nec sapien. Nullam non lobortis dui, eu congue quam. Vivamus finibus egestas elit vel luctus. Cras justo neque, dapibus sed dignissim ut, varius vitae sem. Morbi hendrerit at diam et varius. Fusce quis urna iaculis, viverra arcu in, imperdiet. </p>
                
                <a class="button" href="#">Button</a>
              </div>
              <div class="col-md-5 hidden-sm hidden-xs about_img_content">
                <img src="assets/img/home/activities.jpg" alt="">
              </div>
            </div>
            <div class="tab-pane tab_lightgreen" id="friendship">
              <h3>Friendship</h3>
              <div class="col-md-7 col-sm-12">
                <div class="hidden-lg hidden-md"></div>
                <p>Curabitur lacinia augue metus, luctus scelerisque neque ornare sit amet. Nulla id leo eget libero efficitur pulvinar. Praesent quis sodales purus, vitae condimentum ligula. Mauris eleifend, ligula in rhoncus semper, dui turpis condimentum orci, at finibus eros nibh non erat. </p>
                <p>Donec posuere nec purus id tempus. <a href="#">Curabitur pellentesque</a> tellus sit amet tortor bibendum, imperdiet mattis turpis vulputate. Nulla sed sodales est. Morbi vitae mauris et magna varius suscipit. Nulla in maximus sem. Ut eget sem ligula. Mauris malesuada est nec pretium faucibus.</p>
                <p>Morbi gravida molestie condimentum. Pellentesque nulla quam, consequat eget enim sed, condimentum ultricies massa. </p>
                <a class="button" href="#">Button</a>
              </div>
              <div class="col-md-5 hidden-sm hidden-xs about_img_content">
                <img src="assets/img/home/friendship.jpg" alt="">
              </div>
            </div>
            <div class="tab-pane tab_green" id="development">
              <h3>Development</h3>
              <div class="col-md-7 col-sm-12">
                <div class="hidden-lg hidden-md"></div>
                <p>Nulla erat massa, porta ut dolor a, cursus iaculis neque. Curabitur eu nulla eget arcu <a href="#">faucibus ornare vel</a> at urna. Aenean eget massa orci. </p>
                <p>Donec nec laoreet leo. Duis egestas nisi eget blandit semper. Nulla sodales, sapien et facilisis sagittis, lorem elit finibus ligula, ac efficitur eros nisl tempor nisl. Donec quis vehicula odio. Fusce sed congue augue. Fusce pellentesque rhoncus purus ut porttitor. Praesent pulvinar dignissim iaculis.</p>
                <p>Nunc <a href="#">maximus vel augue</a> nec eleifend. Vivamus sem erat, ornare vitae mi ac, ullamcorper laoreet lorem. Cras aliquet arcu finibus, feugiat nulla eget, dignissim enim.</p>
                <a class="button" href="#">Button</a>
              </div>
              <div class="col-md-5 hidden-sm hidden-xs about_img_content">
                <img src="assets/img/home/development.jpg" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>