<header id="home">
  <div class="section_logo">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="logo_block">
            <a href=""><img src="assets/img/header/logo.png" alt="">
              <span>Jardín de niños</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section_menu">
    <div class="mnu_fixed">
      <div class="mnu_wave"></div>
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <div class="mnu mnu_mobile hidden-lg hidden-md">
              <div class="input_search hidden-lg hidden-md" style="visibility: hidden;">
                <input type="text" placeholder="Search...">
                <a class="btnsearch" href="#"><i class="fa fa-search"></i></a>
              </div>
              <div class="toggle_block hidden-lg hidden-md">
                <a href="#" class="toggle-mnu"><span></span></a>
              </div>
            </div>
            <div class="logo_block">
              <img src="assets/img/header/logo.png" alt="">
            </div>
            <div class="mnu hidden-sm hidden-xs">
              <ul>
                <li class="drop1"><a onclick="goToByScroll('home')">Inicio</a></li>
                <li class="drop2"><a onclick="goToByScroll('offer')">Servicios</a></li>
                <li class="drop3"><a onclick="goToByScroll('about')">Nosotros</a></li>
                <li class="drop4"><a onclick="goToByScroll('teacher')">Profesoras</a></li>
                <li class="drop5"><a onclick="goToByScroll('contact')">Contáctanos</a></li>
                <li class="drop6"><a onclick="goToByScroll('google_maps')">Ubicación</a></li>
                <li class="drop7"><a href="javascript:void(0);">Plataforma</a></li>
              </ul>
            </div>
          </div>
          <div class="col-sm-12 col-xs-12 top_mnu">
            <div class="mobile_mnu">
              <ul>
                <li class="drop1"><a onclick="goToByScroll('home')">Inicio</a></li>
                <li class="drop2"><a class="drop3_mnu" onclick="goToByScroll('offer')">Servicios</a></li>
                <li class="drop3"><a class="drop2_mnu" onclick="goToByScroll('about')">Nosotros</a></li>                
                <li class="drop4"><a class="drop4_mnu" onclick="goToByScroll('teacher')">Profesoras</a></li>
                <li class="drop5"><a onclick="goToByScroll('contact')">Contáctanos</a></li>
                <li class="drop6"><a class="drop5_mnu" onclick="goToByScroll('google_maps')">Ubicación</a></li>
                <li class="drop7"><a href="javascript:void(0);">Plataforma</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>