<section id="offer" class="offer">
  <div class="container">
    <div class="row">
      <h2>Servicios</h2>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="offer_block offer_red wow fadeInUp">
          <i class="fa fa-diamond"></i>
          <h4>Event</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="offer_block offer_blue wow fadeInUp">
          <i class="fa fa-music"></i>
          <h4>Music lesson</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="offer_block offer_green wow fadeInUp">
          <i class="fa fa-magic"></i>
          <h4>Healthy food</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
        </div>
      </div>
    </div>
  </div>
</section>