<div id="google_maps" class="google_maps section-block-wrapper">
  <div id="map"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-5 location_info">
        <div class="location_block">
          <div class="overlay_footer_copter hidden-sm hidden-xs"></div>
          <p class="location">Ubicación</p>
          <p class="phone">55 5871 5289</p>
          <p class="adress">Oyameles Ote. 110 Mz. 31 Lt. 38, Arcos del Alba, 54750 Cuautitlán Izcalli, Méx.</p>
          <p><a href="">kelleraquisomosfelices@hotmail.com</a></p>
        </div>
      </div>
    </div>
  </div>
</div>